################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeterApi/obj
/MeterApi/bin/Debug/netcoreapp2.1
/.vs/MeterApi/v16
.vs/MeterApi/DesignTimeBuild/.dtbcache
